@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: #000000;
    --foreground: #fffeff;
    --card: #181e2b;
    --card-foreground: #fffeff;
    --popover: #252d3a;
    --popover-foreground: #ff00ff;
    --primary: #ff00ff;
    --primary-foreground: #000000;
    --secondary: #00ffff;
    --secondary-foreground: #000000;
    --muted: #c2c2c2;
    --muted-foreground: #fffeff;
    --accent: #ff00ff;
    --accent-foreground: #00ffff;
    --destructive: #ff0000;
    --destructive-foreground: #fffeff;
    --border: #2a2b30;
    --input: #fffeff;
    --ring: #ff00ff;
    --radius: 0.5rem;
    --chart-1: #ff00ff;
    --chart-2: #00ffff;
    --chart-3: #2a2b30;
    --chart-4: #fffeff;
    --chart-5: #000000;
    --sidebar-background: #181e2b;
    --sidebar-foreground: #fffeff;
    --sidebar-primary: #ff00ff;
    --sidebar-primary-foreground: #000000;
    --sidebar-accent: #00ffff;
    --sidebar-accent-foreground: #fffeff;
    --sidebar-border: #2a2b30;
    --sidebar-ring: #ff00ff;
    --gradient: linear-gradient(135deg, var(--accent), var(--accent-foreground));
    --radix-accordion-content-height: 0.5rem;
    --font-bebas: 'Bebas Neue', sans-serif;
  
  }

  .dark {
    --background: #000000;
    --foreground: #fffeff;
    --card: #181e2b;
    --card-foreground: #fffeff;
    --popover: #252d3a;
    --popover-foreground: #ff00ff;
    --primary: #ff00ff;
    --primary-foreground: #000000;
    --secondary: #00ffff;
    --secondary-foreground: #000000;
    --muted: #181e2b;
    --muted-foreground: #fffeff;
    --accent: #ff00ff;
    --accent-foreground: #00ffff;
    --destructive: #ff0000;
    --destructive-foreground: #fffeff;
    --border: #2a2b30;
    --input: #fffeff;
    --ring: #ff00ff;
    --radius: 0.5rem;
    --chart-1: #ff00ff;
    --chart-2: #00ffff;
    --chart-3: #2a2b30;
    --chart-4: #fffeff;
    --chart-5: #000000;
    --sidebar-background: #181e2b;
    --sidebar-foreground: #fffeff;
    --sidebar-primary: #ff00ff;
    --sidebar-primary-foreground: #000000;
    --sidebar-accent: #00ffff;
    --sidebar-accent-foreground: #fffeff;
    --sidebar-border: #2a2b30;
    --sidebar-ring: #ff00ff;
    --gradient: linear-gradient(135deg, var(--accent), var(--accent-foreground));
    --radix-accordion-content-height: 0.5rem;
    --font-bebas: 'Bebas Neue', sans-serif;
    
  }
}

.bebas-font {
  font-family: var(--font-bebas), sans-serif;
}

.background-image {
  background-image: url("/assets/Shapes_Black.png");
}
